@model ANummerGenerator.Model.ANummerModel
@{
    ViewData["Title"] = "Genereer A-nummer";
}

<div class="row">

    <h2>Genereer A-nummer</h2>

    <form asp-controller="Anummer" 
          asp-action="Generate" 
          data-ajax="true" 
          data-ajax-method="POST" 
          data-ajax-complete="CompleteSendFunctionName"
          >

        @Html.DisplayNameFor(m => Model.Amount)
        @Html.EditorFor(m => Model.Amount)
        @Html.ValidationMessageFor(m => Model.Amount)
        <br />

        <input type="submit" value="Genereer" class="btn-success btn" />
    </form>

    <div id="results">
        <ol></ol>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}